
/* imagus */
@-moz-document url("moz-extension://fa0c04ad-ce95-4ccf-a163-badf1fc7f6f9/options.html") {
	html {
		background-color: #161a27 !important;
	}

	body,
	aside,
	#importer {
		background: #161a27 !important;
		background-color:#161a27 !important;
		color: white !important;
	}

	textarea {
		background: #000000 !important;
		background-color: #000000 !important;
		color: #ffffff !important;
	}

	#sieve_container>.disabled>span {
		text-shadow: 0 0 5px #000000 !important;
		color: #FF5050 !important;
	}

	#sieve_container>.selected>span {
		background-image: linear-gradient(to bottom, #1e90ff, #1e90ff80 90%) !important;
	}

	#sieve_container>div:not(.opened)>span:hover {
		background-image: linear-gradient(to bottom, #1e90ff80, #1e90ff 90%) !important;
	}

	#sieve_container>div.opened {
		background-image: linear-gradient(to bottom, #1e90ff80, #1e90ff 90%) !important;
	}

	#sieve_container>.opened>span {
		background-image: linear-gradient(to bottom, #1e90ff80, #1e90ff 90%) !important;
	}

	*|*:any-link:not(svg) {
		color: #1e90ff !important
	}

	*|*:any-link:not(svg):visited {
		color: #1e90ff90 !important
	}

	* {
		font-family: Fira Sans !important;
	}

	input,
	textarea,
	select,
	code,
	.checkbox {
		background-image: -webkit-linear-gradient(top, #000000, #000000) !important;
		background-image: linear-gradient(to bottom, #000000, #000000) !important;
		background-color: black !important;
		color: white !important;
		fill: white !important;
	}

	#hz_css {
		font-family: Fira Code !important;
	}
}
